Flask==3.0.3
Werkzeug==3.0.4
Jinja2==3.1.4
MarkupSafe==2.1.5
itsdangerous==2.2.0
click==8.1.7
google-generativeai==0.8.2
google-api-core==2.20.0
google-auth==2.35.0
googleapis-common-protos==1.65.0
youtube-transcript-api==0.6.2
python-dotenv==1.0.1
requests==2.32.3
urllib3==2.2.3
certifi==2024.8.30
charset-normalizer==3.4.0
redis==5.0.8
gunicorn==22.0.0
typing_extensions==4.12.2
